*, html, body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
  
}
body{
    background-color: #1A535C;
}
/* Header bar: Shows name, page navigation, contact navigation */
.navbar{
    background-color:#1A535C;
    text-align: center;
    font-weight: bold;
    font-family: 'Varela Round', sans-serif;
    letter-spacing: 1.5px;
}

.navbar-brand{
    color: white;
    font-weight: bold;
}
.site-menu,.social-menu, .nav-link{
    color: white;
    font-size: 1.5rem;
}

.site-menu,.social-menu, .nav-link:hover{
    float: right;
    color:  #4a64b1;
    
}
/*end navigation */

.about-me{
    background-color: #84DCC6;
    padding-top:50px
    
}
.blurb h1, h3{
    text-align: center;
    font-size: 5rem;


}
.welcome{
    color: white;
    background-color:  #082836;
    padding: 20px;
}

.image{
    padding: 20px;
}

.img-fluid{
    border: 2px solid white;

}
.about-me{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}
.blurb{
    font-size: 1.5rem;
}
.project-header{
    background-color:#FF686B;
    color: white;
    padding: 10px;
}




.card-deck{
    background-color:#1A535C;
    padding-top: 20px;
}
.card-img-top {
    height: 400px;
    object-fit: cover;
} 
.card-body{
    font-family: 'Montserrat', sans-serif;
   
}
.card:hover{
    background-color: #A5FFD6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: #324d46;
    
}

